.marquee-container {
    overflow: hidden;
    width: 100%;
}

.marquee {
    animation: marquee 50s linear infinite;
    white-space: nowrap;                
}
.marquee-content{
    color: red;
    font-weight: bold;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}