.marquee-container {
    overflow: hidden;
    width: 100%;
}

.marquee {
    animation: marquee 50s linear infinite;
    white-space: nowrap;
}

.marquee-content {
    color: red;
    /* font-weight: bold; */
    font-size: 1.2rem;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none;
    color: #1c3745;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    display: none;
}

.dropdown:hover ul {
    display: block;
}

.dropdown ul li {
    list-style-type: none;
}

.scrollable-menu {
    max-height: 300px;
    overflow-y: auto;
}

.nav {
    color: #212529;
}

.nav:hover {
    color: orangered;
}